//Global styles
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.header {
  position: sticky;
  top: 0;
  background-color: $color_background;
}
.footer{
  color: white;
  background-color: $color_secondary;
}
.navbar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  color: white;
  border-bottom: 2px solid white;
  svg {
    font-size: 1.5rem;
  }
  .leftnavbar {
    margin-left: 1rem;
  }
  .rightnavbar {
    margin-right: 1rem;
    display: none;
    ul {
      li {
        padding: 0.5rem;
        a {
          transition: all 0.5s;
        }
      }
    }
    @media screen and (min-width: 600px) {
      display: block;
      ul {
        display: flex;
        gap: 0.5rem;
        .active {
          color: $color_primary;
          &::first-letter {
            font-weight: bolder;
          }
        }
      }
    }
  }

  //Desktop
  @media screen and (min-width: 600px) {
    svg {
      display: none;
    }
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
  }
}

//Footer

.footer {
  background-color: $color_footer;
  padding:.5rem;
  .hold {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }
  svg {
    font-size: 2rem;
  }

  @media screen and (min-width: 600px) {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    gap: $gap;
  }
}
