//Global styles
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.navbar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  box-shadow: 0px -9px 10px 1px black;
  svg{
    font-size: 1.5rem;
  }
.leftnavbar{
  margin-left: 1rem;
}
  .rightnavbar{
    margin-right: 1rem;
    display: none;
    @media screen and (min-width: 600px) {
      display: block;
    ul{
      display: flex;
      gap: .5rem;
      .active{
        border-bottom: 2px solid $color_primary;
      }
    }
    }
  }
  
    //Desktop
    @media screen and (min-width: 600px) {
      svg{
        display: none;
      }
      display: flex;
      flex-flow: row nowrap;
      gap: 1rem;
    }
  }

  // Active class for mobile
  .mobile{
    .rightnavbar{
      transition: all .5s;
      display: block;
      width: 100%;
      position: fixed;
      left: 50%;
      transform: translateX(-50%);
      top: 3rem;
      ul{
        padding: 1rem;
        text-align: center;
        li{
          padding: .5rem;
        }
      }
    }
  }

//Footer

.footer {
  background-color: $color_footer;

  @media screen and (min-width: 600px) {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    gap: $gap;
  }
}
